.campo {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 10rem;
        color: $blanco;
    }

    input {
        flex: 1;
        border: none;
        border-radius: 1rem;
        padding: $separacion / 4;
    }
}

.alerta {
    padding: $separacion / 2;
    color: $blanco;
    width: 100%;
    text-align: center;
    display: block;

    &.error {
        background-color: red;
    }
}
